html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 6.5rem;
    text-align: center;
}
a {
    text-decoration: none;
    transition: .5s;
}
a:hover {
    color: rgb(99, 180, 242)!important;
    transition: .5s;
}
ul {
    list-style: none;
}
.bold {
    font-weight: bolder;
}
.italics {
    font-style: italic;
}
.container {
    width: 85%;
    justify-content: center;
    margin: auto;
}
header {
    min-height: 100vh;
    padding: 3rem 0;
    background: url(/BJS/img/405040.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header-top {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 2rem;
}
.logo {
    margin: auto;
    align-self: center;
    text-align: center;
    width: 9.2vw;
}
.logo a img {
    width: 100%;
    border-radius: 51%;
}
.nav {
    align-self: center;
    justify-self: center;
}
.nav ul li {
    grid-column: 2;
    padding: 0 0.6rem;
    display: inline;
}
.nav ul li a {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 600;
    color: rgb(34, 34, 34);
}
.nav ul li a:hover {
    color: rgb(99, 180, 242);
    transition: .5s;
}
.banner {
    display: flex;
    align-content: center;
    min-height: 60vh;
}
.banner h1 {
    text-align: center;
    width: 50%;
    margin: auto;
    color: rgb(34, 34, 34);
}
.ready-to-go-banner {
    min-height: 60vh;
    text-align: center;
    width: 50%;
    margin: auto;
    color: rgb(34, 34, 34);
}
.ready-to-go-banner h1 {
    padding: 2rem 0;
}
.ready-to-go-banner p {
    font-size: 1.2rem;
    padding: 2rem 0;
    width: 75%;
    margin: auto;
}
.ready-to-go-banner a {
    color: rgb(100, 100, 100);
}
.contact h4 {
    color: rgb(34, 34, 34);
}
#about{
    background: #f0f0f0;
    padding: 4rem 0;
    height: 100vh;
}
#about .container {
    width: 60%;
}
#about h1 {
    color: #606060;
}
.about-card {
    background: #f0f0f0;
    border-radius: 0 7% 0 7%;
    padding: 1.5rem;
    margin: 4rem auto;
}
#about p {
    color: rgb(36, 36, 36);
    letter-spacing: .8px;
    padding: .5rem 0;
    line-height: 1.4em;
}
#about .about-img {
    text-align: center;
    padding-top: 1.5rem;
    margin: auto;
    width: 250px;
}
#about img {
    border: solid 5px ghostwhite;
    border-radius: 51%;
    width: 100%;
}
#showcase {
    height: 100vh;
    background: #606060;
    padding: 4rem 0;
}
#showcase h1 {
    color: ghostwhite;
}
#services {
    height: 100vh;
    padding: 4rem 0;
    background: url(/BJS/img/405040.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#services h1 {
    color: rgb(34, 34, 34);
}
.services-cards {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 8%;
    align-items: center;
    height: 70vh;
    justify-content: center;
    width: 70vw;
    margin: auto;
}
.card {
    display: grid;
    align-items: center;
    background: #90bec8;
    color: ghostwhite;
    padding: 2rem;
    border-radius: 0 12.5% 0 12.5%;
    min-height: 40vh;
}
.card h4 {
    font-size: 1.3em;
    text-align: center;
}
.card span, .card a {
    color: rgb(70, 70, 70);
    text-align: center;
}
#testimonials {
    height: 100vh;
    padding: 4rem 0;
    background: #606060;
}
#testimonials h1 {
    color: ghostwhite;
}
.testimonial-cards {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}
.testimonial-card {
    width: 20%;
    margin: 0 4rem;
    color: ghostwhite;
    text-align: center;
}
footer {
    background: #f0f0f0;
}
.top-footer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
    margin: auto;
    width: 60%;
    height: 38vh;
}
.top-footer p, .top-footer a {
    color: rgb(100, 100, 100);
    font-weight: bold;
    line-height: 1.3rem;
    font-size: .9rem;
    padding: 0 0 .5rem 0;
}
.footer-links, .footer-about, .footer-socials {
    margin-top: 4rem;
    padding-top: .75rem;
    border-top: solid 6px rgb(100, 100, 100);
}
.top-footer h6 {
    padding: 1rem 0;
    color: rgb(100, 100, 100);
    font-weight: 700;
    font-size: .95rem;
}
.bottom-footer {
    background: #fff;
    height: 6vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #606060;
    font-size: .8rem;
}
.bottom-footer a {
    color: rgb(70, 70, 70);
}
.tracks {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    width: 60%;
    margin: auto;
    padding-bottom: 5rem;
}




