* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #f0f0f0;
}
h1 {
    font-size: 6.5rem;
    text-align: center;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.bold {
    font-weight: bolder;
}
.italics {
    font-style: italic;
}
.container {
    width: 85%;
    justify-content: center;
    margin: auto;
}
header {
    height: 100vh;
    padding: 3rem 0;
    background: url(/BJS/img/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header-top {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 2rem;
}
.logo {
    margin: auto;
    align-self: center;
    text-align: center;
    width: 9.2vw;
}
.logo a img {
    width: 100%;
    border-radius: 51%;
}
.nav {
    align-self: center;
    justify-self: center;
}
.nav ul li {
    grid-column: 2;
    padding: 0 0.6rem;
    display: inline;
}
.nav ul li a {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 600;
    color: ghostwhite;
}
.nav ul li a:hover {
    color: rgb(99, 180, 242);
    transition: .5s;
}
.banner {
    display: flex;
    align-content: center;
    min-height: 60vh;
}
.banner h1 {
    text-align: center;
    width: 50%;
    margin: auto;
    color: ghostwhite;
}
.about{
    background: #f0f0f0;
    padding: 4rem 0;
    height: 100vh;
}
.about .container {
    width: 60%;
}
.about h1 {
    color: #606060;
}
.about-card {
    background: #f0f0f0;
    border-radius: 0 7% 0 7%;
    padding: 1.5rem;
    margin: 4rem auto;
}
.about p {
    color: rgb(36, 36, 36);
    letter-spacing: .8px;
    padding: .5rem 0;
    line-height: 1.4em;
}
.about .about-img {
    text-align: center;
    padding-top: 1.5rem;
    margin: auto;
    width: 250px;
}
.about img {
    border: solid 5px ghostwhite;
    border-radius: 51%;
    width: 100%;
}
.showcase {
    height: 100vh;
    background: #606060;
    padding: 4rem 0;
}
.showcase h1 {
    color: ghostwhite;
}
.services {
    height: 100vh;
    background:#f0f0f0;
    padding: 4rem 0;
}
.services h1 {
    color: #606060;
}
.services-cards {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 8%;
    align-items: center;
    height: 70vh;
    justify-content: center;
    width: 60vw;
    margin: auto;
}
.card {
    background: #90bec8;
    color: ghostwhite;
    padding: 2rem;
    border-radius: 0 12.5% 0 12.5%;
}
.testimonials {
    height: 100vh;
    padding: 4rem 0;
    background: #606060;
}
.testimonials h1 {
    color: ghostwhite;
}
.testimonial-cards {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}
.testimonial-card {
    width: 20%;
    margin: 0 4rem;
    color: ghostwhite;
    text-align: center;
}
.top-footer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
    margin: auto;
    width: 60%;
    height: 34vh;
}
.footer-links, .footer-about, .footer-socials {
    margin-top: 4rem;
    padding-top: 1rem;
    border-top: solid 6px rgb(100, 100, 100);
}
.top-footer h6 {
    padding: 1rem 0;
}
.bottom-footer {
    background: #fff;
    height: 6vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #606060;
    font-size: .8rem;
}



