html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6; 
    background-color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
    color: $dark-color;
}
ul {
    list-style: none;
}
h2, h3, h4 {
    text-transform: uppercase;
}
img {
    width: 100%;
}
h3 {
    display: flex;
    padding-top: 0.2rem;
    letter-spacing: 3px;
    font-size: 2rem;
    span {color: $main-color; padding-left: 0.3rem;}
}
#projects-header, #about-info, #skills {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
}
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: solid $main-color;
    cursor: pointer;
}
.btn {
    &-main {
        @extend %btn-shared;
        color: #333;
        background-color: $main-color;}
    &-light {
        @extend %btn-shared;
        color: #333;
        background-color: $light-color;}
    &-dark {
        @extend %btn-shared;
        color: #f4f4f4;
        background-color: $dark-color;}
}
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $main-color;
    border: solid $dark-color;
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.text-center {
    text-align: center;
}
.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}
.bottom-line {
    height: 2px;
    width: 3rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}
.fab, .fab:visited  {
    color: #f4f4f4; 
    text-decoration: none;}
.far {color: white;}
.fab, .far, .play-btn {
    margin: 1rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem;
    &:hover {background: $main-color;}
}
.burger {
    margin-top: 15px;
    display: none;
    div {
        width: 25px;
        height: 2.7px;
        margin: 5px;
        background-color: $main-color;
        transition: all 0.3s ease;
    }
}