@import "config";
@import "utilities";


#nav-main {
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 6vh;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: $dark-color;
    opacity: 0.95;
    filter: alpha(opacity=70);
}
.nav-links {
    display: flex;
    li {
        padding: 1rem 1.5rem;}
    a {
        text-decoration: none;
        letter-spacing: 3px;
        color: white;
        text-transform: uppercase;
        border-bottom:3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;
        &:hover {
            border-color: $main-color;}
        &.current {
            border-color: $dark-color;}
    }
}
#header {
    &-home {
        background: $bg-image no-repeat center / cover;
        min-height: 100vh;
        color: #fff;
        .header-content {
            position: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 20%;
            h1 {
                font-size: 4rem;
                line-height: 1.2;
                span {
                    color: $main-color;
                    font-style: italic;
                }
            }
            .lead {
                font-size: 1.6rem;
                padding-top: 1rem;
                color: $main-color;
            }
        }
    }
}
#btn-light a:visited { 
    color: $light-color;
    background-color: $main-color;
}
#btn-light a { 
    color: $light-color;
    background-color: $main-color;
}
#projects {
    &-a {
        min-height: 100vh;
        h2 {
            padding-top: 8rem;}
        .projects-b {
            margin: 4rem 0;
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(2, minmax(350px, max-content));
            
            img {
                height: 125px;
                width: 250px;
                border: solid #ffbc00 2px;
            }
            div h3 {
                display: block;
                padding: 0.5em;
            }
            .fab, .play-btn {
                color: $dark-color;
                border-color: $dark-color;
                margin: 1em;
            }
            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;}

                .play-btn {
                    border-radius: 0;

                    i {
                        margin: 0 3px;
                        color: $dark-color;}
                }
            div {
                padding: 2rem;    
                    &:nth-child(1) {
                    background: $light-color;}
                    &:nth-child(4) {
                    background: $light-color;}
                    &:nth-child(2) {
                    background: $medium-color;}
                    &:nth-child(3) {
                    background: $medium-color;}
            }
        }
    }
}
#about {
    min-height: 100vh;
    background-color: $dark-color;
    color: white;
    h2 {
        bottom: 10%;
        padding-top: 20rem;}
        p {
            margin-top: 6rem ;
        }
    }
#skills {
    min-height: 92vh;
    h2 {
        padding-top: 8rem;
    }
    #skills-info {
        display: grid;
        grid-gap: 1rem;
        margin: 4rem 0;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;        
    }
    .box-1, .box-2, .box-3 {
        border: $dark-color solid;
        background-color: $light-color;
        margin-top: 4.5rem;
        padding: 2rem;
        line-height: 2.6rem;
        text-align: center;
        h3 {
            display: block;
            text-decoration: underline;
            margin: 0 0 3rem ;
            text-align: center;
        }
        p{
            font-size: 1.5rem;
            span {
                color: $main-color;
            }    
        }
    }
}
#main-footer {
    background: $dark-color;
    color: #fff;
    height: 5rem;
    padding: 0 19rem;
    .footer-content {
        display: flex;
        justify-content: space-around;
        height: 5rem;
        align-items: center;
    }
}


@import 'media';