html {
  scroll-behavior: smooth;
}

#header-content, #projects-a, #about-info, #skills {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: solid #ffbc00;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #1b1b1b;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #ffbc00;
  border: solid #1b1b1b;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}

.fab, .fab:visited {
  color: #f4f4f4;
  text-decoration: none;
}

.far {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: white;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
  background-color: #1b1b1b;
  opacity: 0.95;
  filter: alpha(opacity=70);
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.2rem;
  font-size: 2rem;
}

h3 span {
  color: #ffbc00;
  padding-left: 0.3rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  padding: 1rem 1.5rem;
}

ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

ul a:hover {
  border-color: #ffbc00;
}

ul a.current {
  border-color: #ffbc00;
}

#header-home {
  background: url(/dist/img/imageedit_1_2910607801.jpg) no-repeat center/cover;
  height: 100vh;
  color: #fff;
}

#header-home .header-content {
  width: 100%;
  text-align: center;
  padding-top: 20%;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#header-home .header-content h1 span {
  color: #ffbc00;
  font-style: italic;
}

#header-home .header-content .lead {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: #ffbc00;
}

#header-home .header-content .email {
  font-size: 1.3rem;
  color: #ffbc00;
  font-family: 'Times New Roman', Times, serif;
}

#header-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn-light a:visited {
  color: #f4f4f4;
  background-color: #ffbc00;
}

#btn-light a {
  color: #f4f4f4;
  background-color: #ffbc00;
}

#projects-a {
  height: 120vh;
}

#projects-a h2 {
  padding-top: 8rem;
}

#projects-a .projects-b {
  margin: 4rem 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#projects-a .projects-b img {
  height: 150px;
  width: 300px;
  border: solid #ffbc00 2px;
}

#projects-a .projects-b div h3 {
  display: block;
  padding: 0.5em;
}

#projects-a .projects-b .fab, #projects-a .projects-b .play-btn {
  color: #1b1b1b;
  border-color: #1b1b1b;
  margin: 1em;
}

#projects-a .projects-b .fas {
  color: #ffbc00;
  padding-bottom: 0.4rem;
}

#projects-a .projects-b .play-btn {
  border-radius: 0;
}

#projects-a .projects-b .play-btn i {
  margin: 0 3px;
  color: #1b1b1b;
}

#projects-a .projects-b div {
  padding: 2rem;
}

#projects-a .projects-b div:nth-child(1) {
  background: #f4f4f4;
}

#projects-a .projects-b div:nth-child(4) {
  background: #f4f4f4;
}

#projects-a .projects-b div:nth-child(2) {
  background: #ccc;
}

#projects-a .projects-b div:nth-child(3) {
  background: #ccc;
}

#about {
  height: 100vh;
  background-color: #1b1b1b;
  max-width: 100%;
  color: white;
}

#about h2 {
  bottom: 10%;
  padding-top: 20rem;
}

#about p {
  margin-top: 6rem;
}

#skills {
  height: 92vh;
}

#skills h2 {
  padding-top: 12rem;
}

#skills #skills-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#skills .box-1, #skills .box-2, #skills .box-3 {
  border: #1b1b1b solid;
  background-color: #f4f4f4;
  margin-top: 4.5rem;
  padding: 2rem;
  line-height: 2.6rem;
  text-align: center;
}

#skills .box-1 h3, #skills .box-2 h3, #skills .box-3 h3 {
  display: block;
  text-decoration: underline;
  margin: 0 0 3rem;
  text-align: center;
}

#skills .box-1 p, #skills .box-2 p, #skills .box-3 p {
  font-size: 1.5rem;
}

#skills .box-1 p span, #skills .box-2 p span, #skills .box-3 p span {
  color: #ffbc00;
}

#main-footer {
  background: #1b1b1b;
  color: #fff;
  height: 5rem;
  padding: 0 19rem;
}

#main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab, .far, .play-btn {
  margin: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}

.fab:hover, .far:hover, .play-btn:hover {
  background: #ffbc00;
}

@media (max-width: 800px) {
  #header-home .header-content {
    padding-top: 10rem;
  }
  #header-home .header-content h1 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */