


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}
body {
    line-height: 1; 
    color: #5A5C5D;
    font-family:'Calibri';
}
ol, ul, li {
	list-style: none; 
}
a {
    text-decoration: none;
    color: #5A5C5D;
}
blockquote, q {
	quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; 
}
table {
	border-collapse: collapse;
	border-spacing: 0; 
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; }
h2 { font-size: 35px; line-height: 40px;  }
h3 { font-size: 28px; line-height: 34px; }
h4 { font-size: 21px; line-height: 30px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

/* Links */
a, .subscribe input.submit, .button, #horizontal-tabs.style2 ul.tabs li, #vertical-tabs.style2 ul.tabs li, .team .item img, body.under-construction .content input.subscribe-button { 
	-webkit-transition: all 0.3s ease-in;  
    -moz-transition: all 0.3s ease-in;  
    -ms-transition: all 0.3s ease-in;  
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}


#wrap {
    background: url(/ImpulseGlobalSolutions/images/img/bg2.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* Header*/ 

header {
    display: grid;
    grid-template-columns: 15% 65% 20% ;
    padding: 1rem 10% 1rem 10%;
    align-items: center;
    background: transparent;
}
#logo a img {
    width: 80%;
    height: 80%;
}
#menu {
    margin-left: 8%;
    text-align: center;
}
#mail {
    justify-self: center;
}
.email-info li {
	padding:5px 5px 5px 18px;
	line-height:25px;
	position: relative;
}
.email-info li {
	padding-left:26px;
}
.email-info li:before {
	content: '\f0e0'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 17px; position: absolute; top: 5px; left: 0;
}
#nav {
    padding: 0 2rem;
}
#nav li {
    text-align: center;
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: bold;
}
#nav li a:hover {
    color: #0091cfde;
    padding-bottom: 3px;
    border-bottom: solid 2px #8cc545;
}


/* Banner*/ 

#banner-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 20rem;
    border-bottom: solid 2px #15b5fa;
}
#banner-1, #banner-2 {
    display: grid;
    width: 50vw;
    background-position: center;
    align-items: center;
}
.banner-text {
    color: ghostwhite;
    width: 85%;
    background-color: #000000c9;
    padding: 1rem;
    margin: 11rem 0 0 0;
    border-top: solid 2px ghostwhite;
    border-right: solid 2px ghostwhite;
    border-bottom: solid 2px ghostwhite;
    border-radius: 0 5px 5px 0;
}
#banner-2 .banner-text {
    justify-self: right;
    border-top: solid 2px ghostwhite;
    border-left: solid 2px ghostwhite;
    border-bottom: solid 2px ghostwhite;
    border-radius: 5px 0 0 5px;
}
#banner-2 .banner-text {
    margin: 11rem 0 0 0;
    width: 65%;
}


/* Services */

#services-wrapper {
    background: url(https://aags.us/wp-content/uploads/2019/10/our-services-bcg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#services-title {
    text-align: center;
    max-width: 205px;
    padding: 1rem;
    margin: 0 auto 0;
    color: ghostwhite;
    border-bottom: solid 5px #8cc545;
    border-radius: 0 0 3px 3px;
    background-color: #15b5fa;
}
#services {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    text-align: center;
    padding-bottom: 4rem;
    justify-items: center;
}
#services div {
    width: auto;
    padding: 1rem 1rem;
}
.data.float-right h4 {
    color: ghostwhite;
    border-radius: 3px 3px 0 0;
    background-color: #15b5fa;
    padding: 10px 10px;
    width: auto;
}
.data.float-right p {
    display: grid;
    color:  rgb(44, 44, 44);
    font-weight: 600;
    line-height: 1.5em;
    padding: 1rem;
    border: solid 3px #15b5fa;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    align-items: center;
    width: auto;
    min-height: 7rem;
}


/* Footer*/

footer {
    background-color: #fff;
    color: rgb(0, 0, 0);
    line-height: 1.4em;
    box-shadow: 5px 5px 10px 5px #212121;
}
#footer-top {
    text-align: center;
    padding-top: 2rem;
    line-height: 2.4em;
}
#footer-top-title {
    font-size: 2rem;
    font-weight: bold;
    color:  rgb(44, 44, 44);
}
#footer-down {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
footer a {
    color:  rgb(44, 44, 44);
}
 a:hover {
    color: #15b5fa;
}


/* Media Queries Desktop */


@media (max-width: 1365px) {#mail {
    font-size: 0.9em;
}} 
@media (min-width: 1279px){ #logo a {
    display: flex;
}}
@media (max-width: 1365px){#nav li a:hover {
    border-bottom: none;
}}
@media (min-width: 1999px) {#banner-1, #banner-2{
background-size: cover!important;
min-height: 30vh;
}}
@media (min-width: 1999px) {#mail a, #menu a{
    font-size: 1.6em;
}}
@media (min-width: 1999px) {#services {
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}}


/* Media Queries Mobile/Tablet */


@media (max-width: 739px) {#footer-down {
    font-size: .8em;
}}
@media (max-width: 1023px) {#banner-wrap {
    display: none;
}}
@media (max-width: 1023px) {header {
    display: grid;
    grid-template-rows: 75% 20%;
    grid-gap: 2%;
}}
@media (max-width: 1023px) {#menu {
    display: none;
}}
@media (max-width: 1023px) {#logo {
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
}}
@media (max-width: 1023px) {#logo a img {
    width: 100%;
    height: 100%;
}}
@media (max-width: 1023px) {#mail {
    grid-row: 2;
    grid-column: 2;
}}
@media (max-width: 500px) {#services {
    grid-template-columns: auto;
}}
@media (max-width: 500px) {#services-wrapper {
    padding-bottom: 1rem;
}}
@media (max-width: 1279px) {.slider-1 {
    display: none;
}}