<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beau Jack is Professional Music Composer for TV, Film and Games. Get a bespoke piece of music created or choose from the selection of ready to go music."/>
    <link rel="stylesheet" href="/BJS/css/main.css">
    <link rel="stylesheet" href="https://app.99inbound.com/assets/application-embed-6ea3538f8713caafaec105a1e689e5c9a9c627f3601fb1ed9eeec50f4f710a1c.css">
    <script src="https://kit.fontawesome.com/c399c05604.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://app.99inbound.com/99inbound.js"></script>
    <title>Film Music Composer | Beau Jack Music</title>
</head>
<body>
    
<div class="contact-wrapper">

    <header>
        <div class="header-top container">
            <div class="logo">
                <a href="/BJS/index.html"><img src="/BJS/img/Beau_Jack_Music.png" alt="Logo"></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/BJS/index.html">Home</a></li>
                    <li><a href="/BJS/index.html">About</a></li>
                    <li><a href="/BJS/index.html">Services</a></li>
                    <li><a href="/BJS/index.html">Showcase</a></li>
                    <li><a href="/BJS/index.html">Testimonials</a></li>
                    <li><a href="/BJS/views/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
            <div class="banner container contact">
                <h1>Contact</h1>
                <h4>Have a question? Get in touch using the form below:</h4>
                <form action="text"></form>
            </div>

            
        </header>
        
        <div class="inbound-form-wrapper" id="form_4572" data-path="https://app.99inbound.com/i/cdc09c61-5659-49d6-a716-5e0a57a490ef" data-token="FF0yErQzQsQy8o0FNfc4hAtt"></div>
    





    <footer>
        <div class="top-footer">
            <div class="logo">
                <a href="/BJS/"><img src="/BJS/img/Beau_Jack_Music.png" alt="Logo"></a>
            </div>
            <div class="footer-links">
                <h6>LINKS</h6>
                <ul>
                    <li><a href="/BJS/index.html">Home</a></li>
                    <li><a href="/BJS/index.html">About</a></li>
                    <li><a href="/BJS/index.html">Services</a></li>
                    <li><a href="/BJS/index.html">Showcase</a></li>
                    <li><a href="/BJS/index.html">Testimonials</a></li>
                    <li><a href="/BJS/views/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-about">
                <h6>ABOUT</h6>
                <p>I create music for all types of Film, TV, Games etc. </p>
                <p>I have a collection of high quality tracks for you to use straight away.</p>
                <p>Looking for something more specific or exclusive? <br> Contact me for bespoke music creation.</p>
            </div>
            <div class="footer-socials">
                <h6>SOCIAL</h6>
                <a href=""><i class="fab fa-instagram fa-5x"></i></a>
                <a href="https://twitter.com/beau_jack_music"><i class="fab fa-twitter fa-5x"></i></a>
                <a href="https://www.youtube.com/channel/UCNOSFqB0tHHdvwqAmbANavg"><i class="fab fa-youtube fa-5x"></i></a>
            </div>
        </div>
        <div class="bottom-footer">
            <p>© 2021 by Beau Jack Music</p>
            <p>Website by <a href="https://www.deanwalsh.dev">DeanWalshDev</a></p>
        </div>
    </footer>
</div>




</body>
</html>