<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beau Jack is Professional Music Composer for TV, Film and Games. Get a bespoke piece of music created or choose from the selection of ready to go music."/>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/c399c05604.js" crossorigin="anonymous"></script>
    <title>Film Music Composer | Beau Jack Music</title>
</head>
<body>
    
<div class="wrapper">

    <header>
        <div class="header-top container">
            <div class="logo">
                <a href="/index.html"><img src="/img/Beau_Jack_Music.png" alt="Logo"></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/index.html">Home</li>
                    <li><a href="/index.html">About</a></li>
                    <li><a href="/index.html">Services</a></li>
                    <li><a href="/index.html">Showcase</a></li>
                    <li><a href="/index.html">Testimonials</a></li>
                    <li><a href="/views/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
            <div class="banner container">
                <h1>Ready-To-Go</h1>
                <p>On this page, you will find a collection of high-quality, non exclusive tracks that you can use for your project. Upon purchasing any of the tracks you will get the following formats: aif, m4a, mp3, & wav (all with the Beau Jack Music branding removed).</p>
                <p>Below is a rough pricing guide that applies to all of the below tracks. If you would like a quote, please <a href="/views/contact.html">Contact Me</a>  with information of how the track will be utilised.</p>
                <img src="" alt="Banner">
            </div>
    </header>



    <footer>
        <div class="top-footer">
            <div class="logo">
                <a href="/"><img src="" alt="Logo"></a>
            </div>
            <div class="footer-links">
                <h6>LINKS</h6>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/index.html">About</a></li>
                    <li><a href="/index.html">Services</a></li>
                    <li><a href="/index.html">Showcase</a></li>
                    <li><a href="/index.html">Testimonials</a></li>
                    <li><a href="/views/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-about">
                <h6>ABOUT</h6>
                <p>I create music for all types of Film, TV, Games etc. </p>
                <p>I have a collection of high quality tracks for you to use straight away.</p>
                <p>Looking for something more specific or exclusive? Contact me for bespoke music creation.</p>
            </div>
            <div class="footer-socials">
                <h6>SOCIAL</h6>
                <a href="/"><img src="" alt="insta"></a>
                <a href="/"><img src="" alt="twitter"></a>
                <a href="/"><img src="" alt="yt"></a>
            </div>
        </div>
        <div class="bottom-footer">
            <p>© 2021 by Beau Jack Music</p>
        </div>
    </footer>
</div>

</body>
</html>