<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beau Jack is Professional Music Composer for TV, Film and Games. Get a bespoke piece of music created or choose from the selection of ready to go music."/>
    <link rel="stylesheet" href="/BJS/css/main.css">
    <script src="https://kit.fontawesome.com/c399c05604.js" crossorigin="anonymous"></script>
    <title>Film Music Composer | Beau Jack Music</title>
</head>
<body>
    
<div class="wrapper">

    <header>
        <div class="header-top container">
            <div class="logo">
                <a href="/BJS/index.html"><img src="/BJS/img/Beau_Jack_Music.png" alt="Logo"></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/BJS/index.html">Home</a></li>
                    <li><a href="/BJS/index.html">About</a></li>
                    <li><a href="/BJS/index.html">Services</a></li>
                    <li><a href="/BJS/index.html">Showcase</a></li>
                    <li><a href="/BJS/index.html">Testimonials</a></li>
                    <li><a href="/BJS/views/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
            <div class="ready-to-go-banner container">
                <h1>Ready-To-Go</h1>
                <p>On this page, you will find a collection of high-quality, non exclusive tracks that you can use for your project. Upon purchasing any of the tracks you will get the following formats: aif, m4a, mp3, & wav (all with the Beau Jack Music branding removed).</p>
                <p>Below is a rough pricing guide that applies to all of the below tracks. If you would like a quote, please <a href="/BJS/views/contact.html">Contact Me</a>  with information of how the track will be utilised.</p>
            </div>

            <div class="tracks">

                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236521665&color=%23111c34&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236521665&color=%23111c34&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236521665&color=%23111c34&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236521665&color=%23111c34&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

            </div>
    </header>



    <footer>
        <div class="top-footer">
            <div class="logo">
                <a href="/BJS/"><img src="/BJS/img/Beau_Jack_Music.png" alt="Logo"></a>
            </div>
            <div class="footer-links">
                <h6>LINKS</h6>
                <ul>
                    <li><a href="/BJS/index.html">Home</a></li>
                    <li><a href="/BJS/index.html">About</a></li>
                    <li><a href="/BJS/index.html">Services</a></li>
                    <li><a href="/BJS/index.html">Showcase</a></li>
                    <li><a href="/BJS/index.html">Testimonials</a></li>
                    <li><a href="/BJS/views/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-about">
                <h6>ABOUT</h6>
                <p>I create music for all types of Film, TV, Games etc. </p>
                <p>I have a collection of high quality tracks for you to use straight away.</p>
                <p>Looking for something more specific or exclusive? <br> Contact me for bespoke music creation.</p>
            </div>
            <div class="footer-socials">
                <h6>SOCIAL</h6>
                <a href=""><i class="fab fa-instagram fa-5x"></i></a>
                <a href="https://twitter.com/beau_jack_music"><i class="fab fa-twitter fa-5x"></i></a>
                <a href="https://www.youtube.com/channel/UCNOSFqB0tHHdvwqAmbANavg"><i class="fab fa-youtube fa-5x"></i></a>
            </div>
        </div>
        <div class="bottom-footer">
            <p>© 2021 by Beau Jack Music</p>
            <p>Website by <a href="https://www.deanwalsh.dev">DeanWalshDev</a></p>
        </div>
    </footer>
</div>

</body>
</html>